nav {
    height: 50px;
    background-color: lightgrey;
}
.inline-block {
    display: inline-block;
    padding: 15px;
    background-color: gray;
    color: white;
}
.left {
    width: 29%;
    float: left;
    height: 300px;
    background-color: blue;
}
.right {
    width: 70%;
    float: left;
    height: 300px;
    background-color: teal;
}
.top {
    height: 30%;
    background-color: orange;
    border: 1px;
    border-color: black;
}
.bottom {
    height: 70%;
    background-color: red;
    border: 1px;
    border-color: black;
}